.starter-template {
    padding: 4rem 0 1rem 0 ;
    /* text-align: center; */
  }

.mybg1 {
    width: 100%;
    height:37.5em;
    background-image: url('/assets/images/vehicle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  background-position: center center;
}

.mypersons img{

      display: block;
    margin: 0 auto
}
.person1-btn{
    position: absolute;
    top: 10em;
    left: 25em;

}

.person2-btn{
    position: absolute;
    top: 10em;
    left: 12em;

}

.person2-img{ width: 380px;
    height: 340px;
}

.mypersons h1{

    text-align: center;
    color: #0e0e0e;
}

.mypersons .btn-primary{
display: block;
margin: 0 auto;
    margin-top: 15px;
}

.empty-space{

  height: 50px;
}