
<!-- <div class="row">
  <div class="col-md-6"> <h4>contact transporter</h4></div>
  <div class="row">
    <mat-table>
      <div *ngFor="let transport of transporter">
        <div>{{transport.user.fName}} {{transport.user.lName}} <br></div>
      </div>
       
  </div>
 </div> -->
<table  mat-table class="mat-elevation-z8"   >
   <tr>
    <th>Name</th>
    <th>Mobile</th>
    <th>Email</th>
   </tr>
    
    <tr *ngFor ="let transport of transporter">
        <td>{{transport.user.fName}} {{transport.user.lName}}</td>
        <td>{{transport.user.mobile}}</td>
        <td>{{transport.user.email}}</td>
    </tr> 
   
      
    
</table>