<div class="container">
    <div class="myTitle">Edit Profile</div>
    <form [formGroup]="myProfile">
        <div formArrayName="formArray">
            <br><br>
            <div class="myLabel">Personal Details</div><br>
            <div [formGroup]="personalDetails">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input type="text" matInput placeholder="First Name"  required pattern="" 
                            formControlName="fName" class="ng-dirty ng-touched ng-invalid">
                        
                        </mat-form-field>
                        
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Last name"  required formControlName="lName">
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-4">
                                        <mat-form-field>
                                        <input matInput placeholder="Gender" formControlName="gender">
                                        </mat-form-field>
                                </div> -->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Mobile No"  required formControlName="mobile">
                                
                        </mat-form-field>

                    </div>
                </div>

            </div><br>
            <div class="myLabel">Company Details</div><br>
            <div [formGroup]="companyDetails">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Company Name"  required formControlName="companyName">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Address"  required formControlName="address">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="City"  required formControlName="city">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Country "  required formControlName="country">

                        </mat-form-field>

                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Pincode"  required formControlName="pincode">
                        </mat-form-field>
                    </div>
                </div>
            </div><br>
        </div> 
        <div formArrayName="vehicles">
            <div class="myLabel">Vehicle Details </div><br>
            <div *ngFor="let vehicle of this.transporter.vehicles, let i = index" [formGroupName]="i">                
                <div class="myLabel"> Vehicle {{i}}</div>      
                <div [formGroup]="vehicleDetails">
                    <div class="row">
                        <div class="col-md-12">
                            <div formGroupName="VehicleMaster">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div formGroupName="parent">
                                            <mat-form-field>
                                                <input matInput placeholder=""  required formControlName="parent">
                                                {{brand.brandName}}
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-select class="form-control" placeholder="Vehicle Name.." required formControlName="id">
                                            <option *ngFor="let vehicleName of vehicleNames" value={{vehicleName.id}}>
                                                {{vehicleName.vehicleName}}
                                            </option>
                                        </mat-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field>
                                <!-- <input type="text" matInput placeholder=" Vehicle Reg No" required formControlName="vehicleRegNo" autofocus=""> -->
                                <input type="text" matInput placeholder="Vehicle Reg No" required formControlName="vehicleRegNo">
                            </mat-form-field>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <div formGroupName="vehicleDoc">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div formGroupName="documentType">
                                            <mat-select class="form-control" placeholder="Document type..."required formControlName="id">
                                                <option *ngFor="let docType of docTypes" value={{docType.id}}>
                                                    {{docType.docType}}
                                                </option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field>
                                            <input matInput placeholder="Document No" required formControlName="docNo">
                                        </mat-form-field>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-md-12">
                                            <mat-form-field>
                                            <input matInput placeholder="Description" required formControlName="desc" >
                                            </mat-form-field>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
        <div class="col-md-5">
            <button mat-raised-button  color="primary" (click)="addPersonalDetails()">
                Save
            </button> 
        </div>
        </div>
    </form>
</div>