.page-title-text
{
    text-transform: uppercase;
    padding: 1.875rem 0.9375rem;
}

agm-map {
    height: 300px;
  }

  .example-card{
      margin-bottom: 20px;
  }

  .example-full-width {
  width: 60%;
}

.mat-form-field,.mat-raised-button {
  font-size: 20px;
}



  .field-width {
  width: 30%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: rgba(0,0,0,.2);
}
.overlay__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.overlay__spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

