<div class="container-fluid">
    <div class="row" >
        <mat-drawer-container  class="sticky  filter  hidden-xs-down bg-faded sidebar" [ngClass] = "{'col-sm-4 col-md-3 bordertoSticky': isOpen }" >
            <mat-drawer #sidenav mode="side" class="expand" (openedChange)="drawerOpenedChange($event)" >
                <button mat-button  color="warn"  (click)="sidenav.toggle(); isOpen = false">Close Filters</button>
                <nav class="" *ngIf = "isOpen">
                    <app-leftPanel (filter) = "applyFilter()"></app-leftPanel>
                </nav>
            </mat-drawer>
            <!-- <div class="demo-drawer-content">
                <div>
                    <button mat-raised-button class="mat-primary" (click)="sidenav.toggle(); isOpen = !isOpen "> {{ isOpen ? "
                        < Close ": " Open " }} Profile {{ isOpen ? " ": ">" }} </button>
                </div>
            </div> -->
            <!-- <mat-sidenav-content> -->
                
            <!-- </mat-sidenav-content> -->
        </mat-drawer-container>
        <div *ngIf = "!isOpen" class = "sticky" >
            <button mat-button color="primary" class="mat-primary"  (click)="sidenav.toggle(); isOpen = true"><img style="width: 25px" src="/assets/images/filter.png" alt=""> Filters</button>
        </div>
        <!-- <main class="col-sm-9 offset-sm-1 col-md-8 offset-md-1 pt-3"> -->
        <!-- <main [@visibilityLeftNav]="isOpen? 'visible': 'hide'"  class="col-sm-9 col-md-9 pt-3 example-sidenav-content">
            <app-order-list ></app-order-list>
        </main> -->
        <!-- <nav class="col-sm-3 offset-sm-1  col-md-2 offset-md-1 hidden-xs-down bg-faded sidebar"> -->
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <app-right-panel></app-right-panel>
        </nav>
    </div>
</div>

<!-- <app-order-list></app-order-list> -->